/* .class1 {} styles for elements with class1 as
   .class, .class2 {} styles for elements with class1 and elements with class2 
   .class1.class2 {} styles for elements with class1 and class2
   .class1 .class2 {} styles for elements with class2 inside elements with class1
   #id1 {} style for elements with id1 as id 
   * {} styles for each and every element 
   h1 {} styles for each h1 element */

* {
    background-color: rgb(87, 55, 55);
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.body-text {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 45px;
    font-weight: 900;
}
.box-one{
    font-size: 30px;
    background-color: red;
    padding: 10px auto;
    width: 100px;
    border: 20px solid purple;
    margin: 60px auto;
    box-sizing: border-box;
}
.box-two{
    font-size: 40px;
    background-color: blue;
    border: 0 solid green;
    padding: 10px;
    width: 100px;
    border: 30px solid purple;
    margin: 60px auto;
}